/* What Caleb Did Definitly */
:root {
    /* Colors */
    --bg-color: #1b1b3a;
    --text-color: #FCF7F8;
    --header-bg-base: #0B5351;
    --header-bg-light: #1B6361;
    --header-bg-dark: #004341;
    --accent-color: #59c9a5;
    --accent-hover: #49d9b5;
}

/* All Selector */
* {font-family: Arial, Helvetica, sans-serif; outline: 0px solid;}

/* Basic */
body{margin: 0px;}
header{align-items: center; background-color: var(--header-bg-base); height: 125px; display: flex; justify-content: left; flex-wrap: wrap; width: 100%;}
header #HeadLight{width: 400px; margin-left: 10px; background-color: var(--header-bg-light); border-radius: 20px;}
header #HeadImg{float: left; width: 100px; height: 100px; align-content: center;}
header #HeadImg img{width: 75%; align-self: center; display: flex; justify-self: center;}
header #HeadText{width: 300px; height: 100px; align-content: center;}
header #HeadText h1{color: var(--text-color); text-align: center; align-content: center; height: 100%; margin: 0; font-weight: 300;}
header #HeadText h1 a{font-size: 42px; margin-right: -1px; font-weight: 600;}
header #HeadLinks{margin-left: calc(10% + 100px); width: calc(100% - 520px - 10%); float: right;}
header #HeadLinks ul{background-color: var(--header-bg-dark); list-style: none; padding: 0px; margin: 0px; align-content: center; align-content: center; height: 100px; text-align: center; border-radius: 20px;}
header #HeadLinks li{display: inline-block; margin: 10px;}
header #HeadLinks li a{color: var(--accent-color); padding: 5px; border-radius: 10px; background-color: var(--header-bg-base); text-decoration: none; transition: 0.5s;}

/* Elements */

/* Class */

/* Psudo */
#HeadLinks li a:link{color: var(--accent-color); background-color: var(--header-bg-base);}
#HeadLinks li a:hover{color: var(--accent-hover); background-color: var(--header-bg-light); transition: 0.25s;}

/* ID */