{% extends "base.html" %}

{% block body %}

<h1>Admin Panel</h1>

<h2>Product Management</h2>

<form method="GET" action="/shop">
    <input type="text" name="search" placeholder="Search products..." value="{{ search_query if search_query }}">
    <button type="submit">Search</button>

    {% if search_query %}
        <a href="/shop"><button type="button">Clear</button></a>
    {% endif %}
</form>

<div class="product-grid">
{% for product in products %}
    <div class="product-card" id="card-{{ product.product_id }}">
        <div>
            <div id="display-{{ product.product_id }}">
                <h3>{{ product.title }}</h3>
                <p>{{ product.description }}</p>
                <p>Price: ${{ product.price }}</p>
                <p>Stock: {{ product.stock }}</p>
                
                <button class="ProductButton" type="button" onclick="toggleEdit('{{ product.product_id }}')">Edit</button>
                
                <form action="/admin/product/{{ product.product_id }}/delete" method="POST" style="display:inline;">
                    <button class="WarningButton ProductButton" type="submit" onclick="return confirm('Delete this item?')">Delete</button>
                </form>
            </div>

            <form class="formEdit" id="edit-form-{{ product.product_id }}" 
                action="/admin/product/{{ product.product_id }}/edit" 
                method="POST" 
                style="display: none;">
                
                <input placeholder="Product Name" type="text" name="title" value="{{ product.title }}" required><br>
                <textarea placeholder="Description" name="description">{{ product.description }}</textarea><br>
                <input type="number" step="0.01" name="price" placeholder="Price" value="{{ product.price }}" required><br>
                <input type="number" step="0.01" name="discount-price" placeholder="Discount" value="{{ product.discount_price }}"><br>
                <input type="number" name="stock" value="{{ product.stock }}" placeholder="Stock" required><br>
                
                <button class="ProductButton" type="submit">Save Changes</button>
                <button class="ProductButton" style="display: inline;" class="Cancel" type="button" onclick="toggleEdit('{{ product.product_id }}')">Cancel</button>
            </form>

        </div>
    </div>
{% endfor %}
</div>

<a href="/admin/manage-products">
    <button type="button">Manage Products</button>
</a>
<a href="/new-product">
    <button type="button">Add New Product</button>
</a>

<h2>Returns Management</h2>


{% if returns|length == 0 %}
    <p>No pending returns.</p>
{% else %}
<div class="return-grid">
{% for return in returns %}
    <div class="return-card">
        <p>
            <strong>Return #{{ return.return_id }}</strong><br>
            Customer ID: {{ return.customer_id }}<br>
            Status: <strong id="status-{{ return.return_id }}">{{ return.status }}</strong>
        </p>
    </div>
{% endfor %}
</div>

<a href="/admin-returns">
    <button type="button">Manage Returns</button>
</a>
{% endif %}

<h2>Orders Management</h2>

<div class="return-grid">
{% for order in orders %}
    <div class="return-card" id="order-card-{{ order.order_id }}">

        <p>
            <strong>Order #{{ order.order_id }}</strong><br>
            Customer ID: {{ order.customer_id }}<br>
            Product: {{ order.title }}<br>
            Qty: {{ order.quantity }}<br>
            Status: <span class="order-status">{{ order.order_status }}</span>
        </p>

    </div>
{% endfor %}
</div>

{% endblock %}
