{% extends "base.html" %}
{% block body %}
<div class="container">
    <h1>Admin: Manage Returns</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Product</th>
                <th style="width: 150px;">Issue</th>
                <th>Demand</th>
                <th>Current Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for r in returns %}
            <tr>
                <td>{{ r.customer_name }}</td>
                <td>{{ r.product_title }}</td>
                <td style="width: 150px;">
                    <strong>{{ r.title }}</strong><br>
                    <small>{{ r.description }}</small>
                </td>
                <td class="{{ r.demand }}">{{ r.demand }}</td>
                <td class="{{ r.status }}">{{ r.status }}</td>
                <td>
                    <form action="{{ url_for('admin_update_return', return_id=r.return_id) }}" method="POST">
                        {% if r.status == 'Pending' %}
                            <button style="margin-left: 8px;"  name="status" value="Confirmed" class="smallbutton">Confirm</button>
                            <button style="margin-right: 8px; background-color: lightcoral;" name="status" value="Rejected" class="smallbutton">Reject</button>
                        
                        {% elif r.status == 'Confirmed' %}
                            <button name="status" value="Processing" class="button">Start Processing</button>
                        
                        {% elif r.status == 'Processing' %}
                            <button name="status" value="Complete" class="button">Mark Complete</button>
                        
                        {% else %}
                            <button disabled style="background-color: transparent; color: #666;" class="text-muted">No actions</button>
                        {% endif %}
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}