<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Perfect Purchase</title>
            <link rel="stylesheet" type="text/css" href="../static/style.css">
        </head>
    <body>
        <header>
            <div id="HeadLight">
                <div id="HeadImg">
                    <img src="../static/images/perfect-purchase-logo-transparent.png" alt="Perfect Purchase Logo">
                </div>
                <div id="HeadText">
                    <h1><a>P</a>erfect <a>P</a>urchase</h1>
                </div>
            </div>
            <div id="HeadLinks">
                <ul>
                    <!-- Basic -->
                    <li><a href="/">Home</a></li>

                    <!-- Admin -->
                    <li><a href="/">Admin Stuff</a></li>

                    <!-- Logged In-->
                    <li><a href="/">Chat</a></li>
                    <li><a href="/">Shop</a></li>
                    <li><a href="/">Reviews</a></li>
                    <li><a href="/">Account</a></li>
                    <li><a href="/">Log Out</a></li>

                    <!-- Logged Out -->
                    <li><a href="/">Sign-Up</a></li>
                    <li><a href="/">Login</a></li>
                </ul>
            </div>
        </header>
        <article>
            {% block body %}

            {% endblock %}
        </article>
        <footer>
            <div id="FooterLinks">

            </div>
            <div id="FooterText">

            </div>
            <div id="FooterForm">

            </div>
            <div id="FooterImg">

            </div>
            <script src="../static/script.js"></script>
        </footer>
    </body>
</html>