{% extends "base.html" %}

{% block body %}

<h1>Your Cart</h1>

{% if items %}
    <table class="cart-table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Subtotal</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                {% set is_sale_active = item.discount_price and (not item.discount_deadline or item.discount_deadline > now) %}

                {% set active_price = item.discount_price if is_sale_active else item.price %}
                <tr>
                    <td>
                        <strong>{{ item.title }}</strong><br>
                        <span>
                            Option: {{ item.color }} - {{ item.size }}
                        </span>
                    </td>
                    <td>${{ active_price }}</td>
                    <td>
                        <form method="POST" action="/update-cart-quantity">
                            <input type="hidden" name="variant_id" value="{{ item.variant_id }}">
                            
                            <input type="number" 
                                id="input-{{ item.variant_id }}" 
                                name="quantity" 
                                value="{{ item.quantity }}" 
                                min="1" 
                                max="{{ item.stock }}" 
                                data-stock="{{ item.stock }}"  oninput="checkStock(this)"
                                >
                            
                            <button type="submit" id="btn-{{ item.variant_id }}">Update</button>
                        </form>
                    </td>
                    <td>${{ active_price * item.quantity }}</td>
                    <td>
                        <form method="POST" action="/remove-from-cart">
                            <input type="hidden" name="variant_id" value="{{ item.variant_id }}">
                            <button type="submit">Remove</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="cart-alignment">
        <h2>Total: ${{ grand_total }}</h2>
        <form action="{{ url_for('customer.checkout') }}" method="POST">
            <button class="cart-btn" type="submit">
                Proceed to Checkout
            </button>
        </form>
    </div>

{% else %}
    <p>Your cart is empty.</p>
    <a href="/shop">Go Shopping</a>
{% endif %}

{% endblock %}