{% extends "base.html" %}
{% block body %}
<h1>Log In</h1>

<div class="formContainerOut">
    <div class="formContainerIn">
        <h2>Enter Your Credentials</h2>

        <form method="post">
            <label for="username_or_email">Username or Email</label>
            <input type="text" id="username_or_email" name="username_or_email" placeholder="johndoe123 or john@example.com" required>

            <label for="password">Password</label>
            <div class="password-field-wrapper">
                <input type="password" id="password" name="password" placeholder="••••••••" required class="password-input">
                <span onclick="toggleLoginPassword('password')" class="password-toggle">Show</span>
            </div>

            <input type="submit" value="Log In">
        </form>
    </div>
</div>
{% endblock %}