{% extends "base.html" %}

{% block body %}

<h1>Shop</h1>

<form method="GET" action="/shop">
    <input type="text" name="search"
        {% if search_query %} value="{{ search_term }}" 
        {% else %} placeholder="Search products..." 
        {% endif %}
        value="{{ search_term if search_term }}">

    <button type="submit">Search</button>

    {% if search_term %}
        <a href="/shop">
            <button type="button">Clear</button>
        </a>
    {% endif %}
</form>

<div class="product-grid">
{% for product in products %}
    <div class="product-card" style="border: 1px solid #ddd; padding: 15px; margin: 10px;">
        <h3>{{ product.title }}</h3>
        <p>{{ product.description }}</p>
        {% if product.discount_price %}
            <p>
                <del>${{ product.price }}</del> 
                <strong style="color: red;">${{ product.discount_price }}</strong>
            </p>
        {% else %}
            <p>${{ product.price }}</p>
        {% endif %}

        <label>Choose Option:</label>
        <select data-product-id="{{ product.product_id }}" onchange="updateVariant(this)">
            {% for v in product.variants %}
                <option value="{{ v.id }}" data-stock="{{ v.stock }}">
                    {{ v.color }} - {{ v.size }}
                </option>
            {% endfor %}
        </select>

        <p>Stock: <span id="stock-{{ product.product_id }}">{{ product.variants[0].stock }}</span></p>

        <form action="/add-to-cart" method="POST">
            <input type="hidden" name="variant_id" id="vid-{{ product.product_id }}" value="{{ product.variants[0].id }}">
            
            <input id="qty-{{ product.product_id }}" type="number" name="quantity" value="1" min="1" max="{{ product.variants[0].stock }}">
            <button type="submit">Add to Cart</button>
        </form>
    </div>
{% endfor %}
</div>

<script>
function updateVariant(selectElement) {
    const productId = selectElement.getAttribute('data-product-id');

    const selectedOption = selectElement.options[selectElement.selectedIndex];
    const variantId = selectElement.value;
    const stock = selectedOption.getAttribute('data-stock');

    document.getElementById('vid-' + productId).value = variantId;
    document.getElementById('stock-' + productId).innerText = stock;

    const qtyInput = document.getElementById('qty-' + productId)
    qtyInput.max = stock;

    if (parseInt(qtyInput.value) > parseInt(stock)) {
        qtyInput.value = stock;
    }

}
</script>

{% if products|length == 0 %}
    <p>No products found.</p>
{% endif %}

{% endblock %}