{% extends "base.html" %}
{% block body %}
<h1>Sign Up</h1>
<div class="formContainerOut">
    <div class="formContainerIn">
        <h2>Enter Your Information</h2>

        <form method="post">
            <label for="role">Role</label>
            <select name="role" id="role" required>
                <option value="" disabled selected>Select A Role</option>
                <option value="customer">Customer</option>
                <option value="vendor">Vendor</option>
            </select>

            <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="John Doe" required>

            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="john@example.com" required>

            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="johndoe123" required>
            
            <label for="password">Password</label>
            <div style="position: relative; display: flex; align-items: center;">
                <input type="password" id="password" name="password" placeholder="••••••••" required style="width: 100%; padding-right: 30px;">
                <span onclick="togglePassword('password')" style="cursor: pointer; position: absolute; right: 10px;"></span>
            </div>
            
            <input type="submit" value="Sign Up">
        </form>
    </div>
</div>
{% endblock %}